.center {
  margin: 0 auto;
}

/*Spacing between collasped pictures*/
[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}

/*SHOWS*/
.datebox {
  margin: 0 auto;
  padding: 0px;
height: 61px;  
width: 50px;  
border-style: solid;
border-color: #fff;
}

.datebox-month {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color: #fff;
  background-color: #000;
}

.datebox-date {
    padding: 0px;
    padding-top: 2px;
  margin: 0px;
  font-size: 15px;
  background-color: #fff;
  color: #000;
}
.datebox-day {
  font-size: 10px;
}

.bands {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  text-align: left;
}

@media (max-width: 600px) {
  .bands {
  font-size: 10px;
  text-align: left;
  }
}

.band-row {
  text-align: center;
  background-color: #000;
  opacity: .8;
}

.band-divider {
  width: 75%;
}

#shows {
  text-align: center;
}

.pre-scrollable {
  margin: 0px;
  padding: 0px;
}

/*SHOWS END*/


/* Bottom Navigation*/
.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  }
ul#horizontal-list li {
    display: inline;
  }

.nav {
  font-size: 22px;
  font-weight: bold;
  font-family: Anders;
  cursor: pointer;
}

.nav:active {
  color: black;
}

.shows-on {
  color: #1abc9c;
}

.photos-on {
  color: #9b59b6;
}

.music-on {
  color: #e67e22;
}


/* END Bottom Navigation*/

/*Load Font*/
@font-face{
    font-family: "Anders";
    src: url('Anders.ttf'),
    url('Anders.eot'); /* IE */
}
/*Load Font End*/


/*ICONS*/
a .fa {
  color: white;
  font-size: 2em;
  margin: .45em;
}

a .fa-facebook:hover {
  color: #1abc9c;
}

a .fa-twitter:hover {
  color: #e67e22;
}

a .fa-instagram:hover {
  color: #9b59b6;
}

a .fa-music:hover {
    color: #e67e22;
}

a .fa-shopping-cart:hover {
    color: #9b59b6;
}

.fa-camera-retro {
  font-size: 26px;
}

a .fa-video-camera:hover {
  color: #1abc9c;
}

/*ICONS END*/ 


/*CARD FLIP */
.al-cover {
  height: 315;
  width: 315;
}

.flip {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 300px;
   height: 300px;
   margin: 25px auto;
}
.flip .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  font-family: Georgia;
  text-align: center;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */

}
.flip .card .front {
  /*position: absolute;*/
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */

}

.fa-play-alb {
  position: absolute;
  z-index: 2;
  color: #a6a6a6;
  opacity: .9;
  padding: 130px;
}
.fa-play-alb:hover {
    color: #fff;
}
.fa-play-alb:active {
    color: #fff;
}

/*CARD FLIP END*/

/*player*/
.player {
    background: transparent url("../images/spr.png") no-repeat scroll center top;
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
}
.songtitle, .artist {
    font-family: verdana;
    left: 167px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.songtitle {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    top: 23px;
}
.artist {
    color: #EEEEEE;
    font-size: 12px;
    top: 40px;
}
  
.playlist {
    background-color: #000;
    border-radius: 5px 5px 5px 5px;
    list-style-type: none;
    height: 300px;
    padding: 5px;
    font-size: 24px;
    opacity: .9;
    text-align: left;
}
.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 75px;
    z-index: 3;
}
.playlist li.active {
    font-weight: bold;
}

#footerSlideContainer {
  background-color: #000;
  opacity: .9;
  position: fixed;
  bottom:0;
  width: 100%;
}

#show-music-btn {
  opacity: .9;
  position: fixed;
  bottom:0;
}
#footerSlideButton {
  border: none;
  cursor: pointer;
}
#footerSlideContent {
  width: 100%;
  color: #CCCCCC;
  font-size: 0.8em;
  border: none;
  font-family: DejaVuSansBook, Sans-Serif;
}

#blueimp-video-carousel{
  position: fixed;
  top: 0;
}
.toggle {
opacity: .8;  
}

