/*
 * Globals
 */
th {
  text-align: center; 
}
/* Links */
a,
a:focus,
a:hover {
  color: #ccc;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.modal-title {
  color: black;
}

.center {
  margin: 0 auto;
}

.album {
  color: #000;
}

.divider {
  color: gray;
}

a.musicLink {
  color: #fff;
}

/*Spacing between collasped pictures*/
[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}

/*
 * Base structure
 */

html,
body {
  font-family: Verdana;
  height: 100%;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

img.bg {
 position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Tables */
tr.tr-hover:hover a {
  color: black;
  cursor: pointer;
}

tr.tr-hover:hover {
  color: black;
  cursor: pointer;
}


tr.tr-hover:active {
  color:  #e67e22;
  cursor: pointer;
}

tr.tr-hoverP:hover {
  color: black;
  cursor: pointer;
}

tr.tr-hoverP:active {
  color:  #9b59b6;
  cursor: pointer;
}

/* Tables END*/

h1.fuss-heading {
	font-family: Anders;
	font-size: 12em;
	font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

p.songname {
  color: #ccc;
}

.divider {
  padding: 10px;
}

.spacer {
  height: 30px;
}

/*SHOWS*/
.datebox {
  margin: 0 auto;
  padding: 0px;
height: 61px;  
width: 50px;  
border-style: solid;
border-color: #fff;
}

.datebox-month {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color: #fff;
  background-color: #000;
}

.datebox-date {
    padding: 0px;
    padding-top: 2px;
  margin: 0px;
  font-size: 15px;
  background-color: #fff;
  color: #000;
}
.datebox-day {
  font-size: 10px;
}

.bands {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  text-align: left;
}

@media (max-width: 600px) {
  .bands {
  font-size: 10px;
  text-align: left;
  }
}

.band-row {
  text-align: center;
  background-color: #000;
  opacity: .8;
}

.band-divider {
  width: 75%;
}

#shows {
  text-align: center;
}

.pre-scrollable {
  margin: 0px;
  padding: 0px;
}

/*SHOWS END*/


/*Photos*/

.photo-width {
  width: 100%;
}


/* Bottom Navigation*/
.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  }
ul#horizontal-list li {
    display: inline;
  }

.nav {
  font-size: 22px;
  font-weight: bold;
  font-family: Anders;
  cursor: pointer;
}

.fa-arrow-left:hover {
    color: #9b59b6;
}


.nospace {
  padding: 0;
  margin: 0;
}

.nav:active {
  color: black;
}

.shows-on {
  color: #1abc9c;
}


.photos-on {
  color: #9b59b6;
}


.music-on {
  color: #e67e22;
}


/* END Bottom Navigation*/

/*Load Font*/
@font-face{
    font-family: "Anders";
    src: url('Anders.ttf'),
    url('Anders.eot'); /* IE */
}
/*Load Font End*/

.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity:0;
  -webkit-transition:all linear 0.0s;
  transition:all linear 0.0s;
}
/* End Load Font*/

/*ICONS*/
a .fa {
  color: white;
  font-size: 2em;
  margin: .45em;
}

a .fa-facebook:hover {
  color: #1abc9c;
}

a .fa-twitter:hover {
  color: #e67e22;
}

a .fa-instagram:hover {
  color: #9b59b6;
}

a .fa-music:hover {
    color: #e67e22;
}

a .fa-shopping-cart:hover {
    color: #9b59b6;
}

.fa-camera-retro {
  font-size: 26px;
}

@media (max-width: 600px) {
  h1.fuss-heading {
    font-size: 5em;
  }
}

@media (max-width: 992px) {
  h1.fuss-heading {
    font-size: 8em;
  }
}
/*ICONS END*/ 


/*CARD FLIP */


.al-cover {
  height: 315;
  width: 315;
}

.flip {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 300px;
   height: 300px;
   margin: 25px auto;
}
.flip .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  font-family: Georgia;
  text-align: center;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */

}
.flip .card .front {
  /*position: absolute;*/
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */

}

.fa-play-alb {
  position: absolute;
  z-index: 2;
  color: #ccc;
  opacity: .9;
  padding: 140px;
}
.fa-play-alb:hover {
    color: #fff;
}
.fa-play-alb:active {
    color: #fff;
}

/*CARD FLIP END*/

/*player*/
.example {
    margin: 50px auto 0;
    width: 400px;
}
.player {
    background: transparent url("../images/spr.png") no-repeat scroll center top;
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
}
.title, .artist {
    font-family: verdana;
    left: 167px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    top: 23px;
}
.artist {
    color: #EEEEEE;
    font-size: 12px;
    top: 40px;
}
.pl {
    background: transparent url("../images/spr.png") no-repeat scroll -274px -175px;
    cursor: pointer;
    height: 34px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 32px;
}
.pl:hover {
    top: 21px;
}
.cover {
    background: transparent url(../images/cover.jpg) no-repeat scroll center top;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 60px;
    position: absolute;
    top: 20px;
    width: 94px;
}
.controls {
    cursor: pointer;
    height: 23px;
    left: 167px;
    position: absolute;
    top: 65px;
    width: 138px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    background: transparent url("../images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.controls .play {
    background-position: -8px -171px;
}
.controls .pause {
    background-position: -8px -198px;
    display: none;
}
.controls .rew {
    background-position: -54px -171px;
}
.controls .fwd {
    background-position: -100px -171px;
}
.controls .play:hover {
    background-position: -8px -170px;
}
.controls .pause:hover {
    background-position: -8px -197px;
}
.controls .rew:hover {
    background-position: -54px -170px;
}
.controls .fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.controls .visible {
    display: block;
}
.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    background: transparent url("../images/spr.png") no-repeat scroll 5px -222px;
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.volume .ui-slider-handle {
    background: url("../images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.playlist {
    background-color: #000;
    border-radius: 5px 5px 5px 5px;
    list-style-type: none;
    height: 300px;
    padding: 5px;
    font-size: 24px;
    opacity: .9;
    text-align: left;
}
.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 75px;
    z-index: 3;
}
.playlist li.active {
    font-weight: bold;
}

#footerSlideContainer {
  background-color: #000;
  opacity: .9;
  position: fixed;
  bottom:0;
  width: 100%;
}

#show-music-btn {
  opacity: .9;
  position: fixed;
  bottom:0;
}
#footerSlideButton {
  border: none;
  cursor: pointer;
}
#footerSlideContent {
  width: 100%;
  color: #CCCCCC;
  font-size: 0.8em;
  border: none;
  font-family: DejaVuSansBook, Sans-Serif;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.toggle {
opacity: .8;  
}

